html, head {    
    font-family: sans-serif;
}

body {
    margin: 0;
    background: #f9e4d0;
}

a {
    font-style: none;
    text-decoration: none;
    color: #222;
}

h5 + p {
    margin-block-start: 0;
}

p {
    line-height: 1.6;
}

hr {
    width: 100px;
    margin: 0;
    border-color: #000;
}

.container {
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
}

section {
    margin: 1rem;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

li h5 {
    margin-block-end: .2em;
}

.m-li {
    padding-left: 1em;
}

.m-links {
    padding: 1em 0;
}

.theme-rivian {    
    border-left: 2px solid #ac6900;
}

.theme-understory {
    border-left: 2px solid #00acac;
}

.theme-pandora {
    border-left: 2px solid #001aff;
}

.theme-tm {
    border-left: 2px solid #ff0d00;
}

.theme-ss {
    border-left: 2px solid #f1b55a;
}

.timeline {
    position: relative;
    width: 100%;
    height: 2px;
    background: #222;
}

.tick {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: -3px;
}

.tick.rivian {
    background: #ac6900;
    left: 0;
}

.tick.understory {
    background: #00acac;
    left: 20%;
}

.tick.pandora {
    background: #001aff;
    left: 40%;
}

.tick.tm {
    background: #ff0d00;
    left: 60%;
}

.tick.ss {
    background: #f1b55a;
    left: 80%;
}



